body {
  background-color: rgb(100, 100, 100);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas {
  width: 100%;
  height: 70vh;
}

.items {
  display: flex;
  margin: auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.menu > a {
  border: 4px solid dodgerblue;
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition-duration: 0.4s;
}

.menu > a:hover {
  background-color: forestgreen;
  border-color: forestgreen;
  color: white;
}

.button {
  border: 4px solid dodgerblue;
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition-duration: 0.4s;
}

@media only screen and (max-width: 800px) {
  .canvas {
    width: 95%;
  }
}
